.root {
	-fx-background-color: radial-gradient(focus-angle 90deg, center 50% 50%, radius 100%, #1a3651, #111f2c);
}

.button {
	-fx-background-color: linear-gradient(#1a3651, #0c0c0c);
	-fx-background-radius: 0px;
	-fx-background-insets: 0px;
	-fx-text-fill: #FFFFFF;
	-fx-border-color: #FFFFFF;
	-fx-border-width: 0.3px;
}

.label {
	-fx-text-fill: #FFFFFF;
}

.button:pressed {
	-fx-background-color: linear-gradient(#0c0c0c, #1a3651);
	-fx-text-fill: #FFFFFF;
}

.tinyButton {
	-fx-font-size: 13;
	-fx-font-family: arial;
	-fx-background-color: transparent;
	-fx-border-style: none;
	-fx-border-width: 0px;
}

.tinyButton:pressed {
	-fx-font-weight: bold;
}

#scorescreen-borderpane {
	-fx-background-color: radial-gradient(focus-angle 90deg, center 50% 50%, radius 100%, #1a3651, #111f2c);
	-fx-border-color: white;
	-fx-border-width: 1px;
	-fx-border-insets: 4; 
}

.context-menu {
	-fx-background-color: radial-gradient(focus-angle 90deg, center 50% 50%, radius 100%, #1a3651, #111f2c);
}

